bin/
build/
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
cmake_install.cmake
Makefile
moc_*.cxx
moc_*.cpp
Splatterlinge.cbp
Splatterlinge.kdev4
.kdev4/
doc/
*.*~
tools/

# Kate project files
.directory
.kateproject
.kateproject.d/

# Sublime-Text
*.sublime-project
*.sublime-workspace
